#img{
    height: 500px;
    width: 900px;
    background-image:url(image.png);
    background-repeat: no-repeat;
    background-position: top right;
    border: black 5px solid;
    margin: 100px;
    margin-top: 70px;
}