.body1{
    background-color: red;
    color: aliceblue;
    padding: 20px;
}

.conteudo1{
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 90px;
    margin-right: 20%;
    margin-left: 20%;
        
}

.body2{
    background-color: blue;
    padding: 100px;
}

.body3{
    background-color: yellow;
    padding: 150px;
}