p{
    background-color: aquamarine;
    color: black;
}

h1{
    background-color: beige;
    color: black;
}

h2{
    background-color: rgb(166, 136, 193);
    color: black;
}

.div1{
    background-color: pink;
}

